* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card {
  border: solid 2px red;
  padding: 20px;
  margin: 10px 10px;
}
.title {
  font-size: large;
}

.description {
  font-style: italic;
}

.price {
  font-weight: bold;
  color: green;
}

.error {
  color: var(--error-color);
}
